#quote-box {
    background-color: white;
    width: 500px;
    display: flex;
    flex-flow: column;
    padding: 50px;
    border-radius: 5px;

}

#text {
    font-size: 30px;
    font-weight: bold;
}

#author {
    font-size: 20px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 10px;
}

#button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#new-quote{
    font-size: 15px; 
    color: white;  
    border-radius: 5px;
    border: none
}